@model WebApplicationAPP.Models.Producto

<h1>Editar Producto</h1>

<form method="post">

    <input type="hidden" asp-for="Id" name="Id" required />

    <label for="Nombre">Nombre:</label>
    <input type="text" asp-for="Nombre" name="Nombre" required />

    <label for="Precio">Precio:</label>
    <input type="number" asp-for="Precio" name="Precio" step="0.01" required />

    <label for="Stock">Stock:</label>
    <input type="number" asp-for="Stock" name="Stock" required />

    <label for="Descripcion">Descripcion:</label>
    <input type="text" asp-for="Descripcion" name="Descripcion" required />

    <label for="Categoria">Categoria:</label>
    <input type="text" asp-for="Categoria" name="Categoria" required />

    <label for="FechaDeIngreso">Fecha de ingreso:</label>
    <input type="datetime-local" asp-for="FechaRegistro" name="FechaDeIngreso" required />

    <label for="Activo">Activo:</label>
    <input type="checkbox" asp-for="Estado" />

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-action="Index">Cancelar</a>
</form>